<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap py-5 px-10 flex-col md:flex-row items-center">
      <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        
        <svg width="50" height="50" version="1.1" viewBox="0 0 88.4 88.4" xmlns="http://www.w3.org/2000/svg">
          <g transform="translate(-46.608 -54.888)">
           <circle cx="90.808" cy="99.088" r="44.2" fill="#0fc" opacity=".987"/>
          </g>
          <g transform="translate(-46.608 -54.888)">
           <g transform="translate(-.10656 -3.7443)" fill="none" stroke="#005ead" stroke-width=".26458px">
            <path d="m49.391 110.94s11.787-10.664 41.347-9.1673c35.315 1.7881 38.353-7.1094 38.353-7.1094"/>
            <path d="m56.935 117.77s8.3051-9.5431 37.751-13.945c34.972-5.2275 37.711-15.985 37.711-15.985"/>
           </g>
           <text x="51.465595" y="109.8206" fill="#006680" font-family="Arial" font-size="29.986px" letter-spacing="0px" stroke-width=".33826" word-spacing="0px" style="line-height:0.25" xml:space="preserve"><tspan x="51.465595" y="109.8206" fill="#006680" font-family="'Trebuchet MS'" font-size="29.986px" stroke-width=".33826">FLOW</tspan></text>
          </g>
         </svg>
      </a>
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a class="mr-5 hover:text-gray-900 {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq $currentPage.Section .Name) }} text-purple-600 {{end}}" href="{{ .URL }}">
        {{ if .Pre }}
        {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
        {{ $icon }}
        {{ end }}
        {{ $text := print .Name | safeHTML }}
        {{ $text }}
        </a>
        {{ end }}
      </nav>
      
    </div>
  </header>