<header id="nav-header" x-data="{ mobileMenuOpen : false }" class="bg-white mt-0 fixed top-0 w-full z-30">

  <div class="container max-w-screen-xl px-6 py-3 md:mx-auto 
  flex flex-wrap flex-row justify-between items-center 
  md:space-x-4  relative">
    <!--Logo-->
    <a href="/" class="block">
      <img src="/img/logo.svg" width="50"/>
    </a>
    <!--Menu button-->
    <button @click="mobileMenuOpen = !mobileMenuOpen" class="inline-block md:hidden w-8 h-8 bg-gray-200 text-gray-600 p-1">
      <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
      </svg>
    </button>
    <!--Navigation-->
    <nav class="absolute md:relative top-20 left-0 md:top-0 
    md:flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-6 w-full 
    md:w-auto bg-white shadow-md md:shadow-none rounded-lg md:rounded-none 
    md:bg-transparent p-6 md:p-0 font-medium"
    :class="{ 'flex' : mobileMenuOpen , 'hidden' : !mobileMenuOpen}"
    @click.away="mobileMenuOpen=false">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <a class="block font-semibold text-gray-600 hover:underline {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq $currentPage.Section .Name) }} text-red-600 {{end}}" href="{{ .URL }}">
      {{ if .Pre }}
      {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
      {{ $icon }}
      {{ end }}
      {{ $text := print .Name | safeHTML }}
      {{ $text }}
      </a>
      {{ end }}
    </nav>
  </div>

</header>